<%- include("partials/head", { title, user }) %>
<div class="simple-page">
  <h1>Rules</h1>
  <p>Gin Rummy is a two-player card game...</p>
  <img src="/image/points.jpg" alt="Points Chart" />
</div>
<%- include("partials/foot") %>
